.custom-button {
    padding: 10px 20px;
    background-color: #fbb646;
    color: white;
    border: none;
    border-radius: 12px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.custom-button:hover {
    background-color: #f8a736;
    transform: scale(1.05);
}

.custom-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
