@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url('./assets/fonts/Sultan bold.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: #333;
    padding: 10px 20px;
}

.interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 70px;
    margin-left: 100px;
}

.menu-desktop ul {
    display: flex;
    list-style: none;
    margin: 45px;
    margin-right: 100;
    padding: 0;
    gap: 50px;
    display: flex;
}

.menu-desktop li {
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}



.menu-desktop li:hover  {
    text-decoration: none;
    color: #5b8284; /* Cor ao passar o mouse */
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

.menu-desktop li:active {
    transform: scale(0.95); /* Efeito de clique */
}

/* Media Queries para o Header */

@media (max-width: 768px) {
    .logo img {
        margin-left: 0px;
    }

    

 
}

